html,body,ul,li,h1,h2,h3,h4,h5,h6,dl,dt,dd,p{
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei','Arial';
}
a{
    text-decoration: none;
    color: #222;
<<<<<<< HEAD

=======
<<<<<<< HEAD

=======
>>>>>>> 5bc1ef4 (day2)
>>>>>>> 12c18c8 (day2)
}
ul li{
    list-style: none;
}